@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: You can keep your body transition styles here */
body {
  @apply bg-background dark:bg-dark-background text-text dark:text-dark-text;
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 0.2s ease-out;
}